<html>
	<head>
		<title></title>
		
	</head>
	
	<body>
		<div onclick="enableCheats()">Enable Cheats</div><p>
		<input type="checkbox" id="taylor" value="836763963"> Taylor<br>
		<input type="checkbox" id="nick" value="836763963"> Nick<br>
		Search: <input id="item" type="text"><button id="submit" type="button" onclick="searchItem()">Search</button><p>
		Qty: <input id="qty" value="1"><p>
		<b>Items:</b>
		<div id="items"></div><p>
		<b>Blueprints:</b><p>
		<div id="blueprints"></div>
		<script type="text/javascript" src="../static/index.js?v=25"></script>
	</body>

</html>
